[Unit]
Description=Ottercast Config                       
After=sound.target
Wants=network.target
After=network.target

[Service]
ExecStart=/usr/bin/env php /opt/ottercast/apply_config.php

[Install]
WantedBy=multi-user.target
