[Unit]
Description=Ottercast Config                       
After=sound.target
Wants=network.target
After=network.target

[Service]
ExecStart=/usr/bin/env php /var/www/cgi-bin/applyConfig.php

[Install]
WantedBy=multi-user.target
