[Unit]
Description=The uhttpd HTTP server
Wants=network-online.target
After=network.target network-online.target

[Service]
Environment="UHTTPD_ARGS=-h /var/www -x /cgi-bin -k 20 -A 1 -n 10 -N 100 -p 0.0.0.0:80 -p [::]:80"
EnvironmentFile=-/etc/default/uhttpd
ExecStart=/usr/bin/uhttpd -f $UHTTPD_ARGS

[Install]
WantedBy=multi-user.target
