[Unit]
Description=Ottercast Displayboot
DefaultDependencies=no
Before=basic.target
After=systemd-journald.service

[Service]
ExecStart=/opt/ottercast-displayboot/displayboot
WorkingDirectory=/opt/ottercast-displayboot

[Install]
WantedBy=sysinit.target
